.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type='radio']{
  display: none;
}

.star{
  cursor: pointer;
  transition: color 200ms
}

.cafe-card {
  border:"1px solid purple";
}

/* .column {
  float: right;
  width: 50%;
  padding: 5px;}

.row::after {
  content: "";
  clear: both;
  display: table;
} */

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

/* .homebackground {
  background-image: url('https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1581688713/DCUK/Content/iStock-938993594-1000x600.jpg');
  background-color: #cccccc;
  height: 100vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
} */

.shopname{
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.shopinfo{
  position: static;
  /* border: 1px solid black */
}
.reservationform{
  position: relative;
  border: 2px solid purple;
}

.ratingform{
  border: 2px solid orangered;
  position: relative;
}

.bg-image {
  /* Full height */
  height: 50vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  
  #img1 { background-image: url('https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1581688713/DCUK/Content/iStock-938993594-1000x600.jpg');}
  #img2 { background-image: url("https://source.unsplash.com/1600x900/?coffeeshop");}
  #img3 { background-image: url("https://source.unsplash.com/1600x900/?flatiron"); }
  #img4 { background-image: url("https://source.unsplash.com/1600x900/?coffeebeans"); }
  #img5 { background-image: url("https://source.unsplash.com/1600x900/?mocha"); }
  #img6 { background-image: url("https://source.unsplash.com/1600x900/?latte"); }
  
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }